.container{
    display: flex;
    justify-content: center;
}

.box{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    padding: 2px;
}

h1{
    text-align: center;
    color: brown;
}

tr, td, table{
    border: 1px solid light;
    border-collapse: collapse;
    width: 250px;
    height: 50px;
    text-align: center;
    font-size: large;
}

.btn{
    position: absolute;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    position: absolute;
    left: 50%;
}

.table1 td, th{
    margin: auto;
    border: 1px solid black;
    margin-bottom: 30px;
}

table{
    margin: auto;
}

.main{
    display: none;
}

.button{
    text-align: center;
    margin-top: 15px;
}
